<div class="container text-center mt-5 col-lg-6 bg-light p-5">
  <h1>Counter : {{ count }}</h1>

  <div class="row mt-5">
    <div class="col-lg-4 mt-2">
      <button class="btn btn-dark col-lg-12" (click)="reset()">Reset</button>
    </div>
    <div class="col-lg-4 mt-2">
      <button class="btn btn-success col-lg-12" (click)="increment()">
        Increment
      </button>
    </div>
    <div class="col-lg-4 mt-2">
      <button class="btn btn-danger col-lg-12" (click)="decrement()">
        Decrement
      </button>
    </div>
  </div>
</div>
